		#parent{
			width: 46%;
			margin: auto;
			text-align: center;
			border-radius: 10px;
		}
		#small{
			
			padding-left: 80px;
			padding-bottom: 20px;
			padding-top: 20px;	
			text-align: left;
		}
		#small form table tr{
			font-size: 18px;
			color: #7B7F8B;
		}
		.btn{
			width: 105px;
			height: 40px;
			background-color: #0285B9;
			color: white;
		}
		